# Utilisateur PostgreSQL du conteneur DB
POSTGRES_USER=postgres

# Mot de passe PostgreSQL du conteneur DB
POSTGRES_PASSWORD=1272

# Base creee automatiquement au demarrage du conteneur
POSTGRES_DB=gamerchallenge

# Compte de connexion a l'interface PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@gamerchallenge.local

# Mot de passe du compte PgAdmin
PGADMIN_DEFAULT_PASSWORD=change_me_now
